/****************************************************************
Google Fonts
*****************************************************************/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
/****************************************************************
Reset CSS
*****************************************************************/

* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}



/****************************************************************
HEADER PARA TODAS LAS PAGINAS
*****************************************************************/
.header .menu {
  background-color: black;
  font-size: 1.5rem;
}
.header .menu div a .logo {
  width: 300px;
  height: 80px;
}
.header .menu div .menuLista ul li button {
  font-size: 1.5rem;
}

.header .menu div .menuLista ul li button:hover {
  color: yellow;
}
/****************************************************************
MODO DARK
*****************************************************************/
.dark{
  background-color: black;
  color: white;
}

.light{
  background-color: white;
  color: black;
}
/****************************************************************
CARRITO
*****************************************************************/
.imgCarrito {

  width: 50px;
  height: 50px;
}
/*************************************************************************************************
FOOTER TODAS LAS PAGINAS
*************************************************************************************************/
.footer {
  display: flex;
  background-color: black;
  color: white;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer div a .logo {
  width: 300px;
  height: 80px;
}

.footer .nav .redes a img {
  width: 40px;
  height: 40px;
  margin: 5px;
}

.footer h4 {
  padding-right: 10px;
  font-size: 1.5rem;
}

/***************************************************************************************************
QUERIES PARA FOOTER
**************************************************************************************************/
@media (max-width: 768px) {

  .footer {
    flex-direction: column;
  }

  .footer div a .logo {
    width: 200px;
    height: 60px;
    padding-right: 20px;
  }

  .footer .nav .redes a img {
    width: 30px;
    height: 30px;
    margin: 5px;
  }

  .footer h4 {
    padding-right: auto;
    font-size: 1rem;
  }
}